.grid-container {
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "main-2"
        "footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    text-align: center;

}

.main-2{
    grid-area: main-2;
}

.nav {
    grid-area: nav;
    padding: 10px;
    position: sticky;
    top: 0;
    border-color: #101010;
    background-color: #222;
    border-width: 0 0 1px;
    border-radius: 0;
    right: 0;
    left: 0;
    z-index: 1030;

}

.main {
    background-color: #f0f0f0;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main;
    margin: 0 auto;
}

body, html {
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    box-sizing: border-box;
    flex-direction: column;
}


