.grid-container {
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.nav {
    grid-area: nav;
    padding: 10px;
    position: sticky;
    top: 0;
    border-color: #101010;
    background-color: #222;
    border-width: 0 0 1px;
    border-radius: 0;
    right: 0;
    left: 0;
    z-index: 1030;

}

.main {
    grid-area: main;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


nav,header,main,footer{

}

body, html {
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    box-sizing: border-box;
    flex-direction: column;
}


