.nav_ul{
    display:inline-flex;
    padding: 0;
    margin: 0;
    padding-left: 500px;
}

a{
    text-decoration: none;
    color: white;
}
h3{
    font-weight: normal;
}


.nav_ul li{
    margin: 1px;
}

.link{
    color: #9d9d9d;
    padding: 5px;
    font-size: 14px;
}

.link:hover{
    color: white;
}

.mh2{
    font-size: 65%;
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.p1{
    display: block;
    white-space: normal;
    color: #959595;
    margin: 0 0 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 14px;
}


@media screen and (min-width: 1700px) {

}

@media screen and (max-width: 1699px) {

}

.img-responsive{
    border-radius: 10px;
}

.main{
    align-items: center;
}

button{
    background-size: 200px;
    border-color: transparent;
    background-color: transparent;
}

.search{
    margin-left: 500px;
}

.search_box{
    height: 30px;
    border-radius: 5px;
}

.search-button{
    height: 30px;
    width: 70px;
    border-radius: 10%;
    background-color: white;

}

.img-circle{
    border-radius: 50%;
    overflow: hidden;
}
h2{
    font-weight: normal;
    color: black;
    font-size: 36px;
    margin: 0.67em 0;
}

.headerbtnzone{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
}

.headerbtnzone:hover{
    background-color: #5674b3;
    border-color:  #5674b3;
}

.headerpzone{
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    color:greenyellow;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.headerh1zone{
    font-size: 63px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

#nowpage{
    background-color: #080808;
    background-size: 500px;
}

.headerzone{
}

@media (min-width: 1200px)
.main-tite-set{
    float: left;
}

@media (min-width: 1200px)
.main-tite-set {
    width: 100%;
}

.small{
    font-size: 65%;
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.main-title-text{
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #959595;
    font-size: 14px;
}

.main-tite-set{
    text-align: center;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.main-tite{
    text-align: center;
    display: block;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (min-width: 1200px)
.main {
    width: 1170px;
}

@media (min-width: 992px)
.main {
    width: 970px;
}

@media (min-width: 768px)
.main {
    width: 750px;
}

.white-zone-article{
    text-align: center;
    margin-bottom: 25px;
}

.col-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px)
.col-4 {
    width: 33.33333333%;
}

@media (min-width: 992px)
.col-4 {
    float: left;
}

@media screen and (min-width: 800px) {
    .white-zone{
        display: flex;
    }
}

@media screen and (max-width: 799px) {
    .white-zone{
        display: block;
    }
}

@media screen and (min-width: 769px) {
    .orange-zone{
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .orange-zone{
        display: block;
    }
}


.white-zone-a{
    color: #337ab7;
    text-decoration: none;
}

.img-responsive{
    max-width: 100%;
    height: auto;
}

.img-rounded{
    border-radius: 6px;
}

.img{
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: center;
    border: 0;
}

p{
    margin: 0 0 10px;
    color: #959595;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3{
    color: black;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.orange-zone{
    background-color: goldenrod;
    justify-content: center;
}

.orange-zone-div{
    padding: 30px;
    text-align: center;
}

.orange-zone-div p{
    align-content: center;
    color: black;
}

.btn-orange-zone{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
